<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="brands-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Marcas
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown">
    <%= link_to "Cadastrar marca", new_brand_path, class: 'dropdown-item', id: 'new-brand' %>
    <div class="dropdown-divider"></div>
    <%= link_to "Buscar marca", brands_path, class: 'dropdown-item', id: 'brands' %>
  </div>
</li>
