<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="products-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Itens
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown">
    <%= link_to "Itens em estoque", products_in_stock_path, class: "dropdown-item", id: "in-stock-products" %>
    <div class="dropdown-divider"></div>
    <%= link_to "Itens em uso", products_in_use_path, class: "dropdown-item", id: "in-use-product" %>
  </div>
</li>
