<%= render 'layouts/user_navbar' %>

<div class="card col-8 offset-2 p-0 mt-5">
  <div class="card-header">
    Editar exame ofertado
  </div>
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>

<%= render 'shared/card', locals: {title: 'Editar exame ofertado', form: 'offered_exams/form', action: :edit} %>
