<%= render 'layouts/user_navbar' %>

<div class="card col-8 offset-2 p-0 mt-5">
  <div class="card-header">
    <h4 class="text-center">
      Editar exame ofertado
    </h4>
  </div>
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
