<table class="table text-center table-bordered">
			<thead class="bg-dark text-white">
				<th>
					<h4>Nome</h4>
				</th>
				<th>
					<h4>Data de início</h4>
				</th>
				<th>
					<h4>Status</h4>
				</th>
				<th>
					<h4>Alterar status</h4>
				</th>
			</thead>
			<tbody>
				<% @attendance.exams.each do |exam| %>
					<tr>
						<td>
							<%= exam.offered_exam.name %>
						</td>
						<td>
							<% if exam.start_date %>
								<%= l(exam.start_date) %>
							<% end %>
						</td>
						<td>
							<%= exam.exam_status_kind.name %>
						</td>
						<td>
							<% if exam.exam_status_kind == ExamStatusKind.find_by({name: 'Aguardando início'}) %>
								<%= link_to 'Iniciar exame', start_exam_path(exam), {class: 'btn btn-sm btn-outline-success'} %>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>