<div class="card col-md-10 p-0 offset-md-1">
  <div class="card-header">
    <h4 class="text-center">
      Laudos
    </h4>
  </div>
  <div class="card-body">
    <table class="table table-striped text-center">
      <tbody>
        <% @attendance.exams.each do |exam| %>
          <% if exam.report? %>
            <tr class="report">
              <td class="w-50">
                <%= exam.offered_exam.name %>
              </td>
              <td class="w-25">
                <%= l exam.finish_date %>
              </td>
              <td class="w-25">
                <%= link_to "Visualizar", add_report_to_exam_path(exam), class: 'btn btn-outline-info' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
