<%= render 'layouts/admin_navbar' %>

<div class="card col-md-10 offset-md-1 p-0 mt-5">
	<h3 class="card-header text-center text-white bg-<%= locals[:type]%>">
		<%= locals[:name] %>
	</h3>
	<div class="card-body">
		<%= render 'form', locals: {type: locals[:type]} %>
	</div>
</div>