<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="offered-exam-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Exames
  </a>
  <div class="dropdown-menu" aria-labelledby="offered-exam-dropdown">
    <%= link_to 'Novo', new_offered_exam_path, class: 'dropdown-item', id: 'new-offered-exam' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Buscar', offered_exams_path, class: 'dropdown-item', id: 'offered-exams' %>
  </div>
</li>
