<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="samples-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Amostras
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Imunofenotipagem', internal_codes_path(field: :imunofeno), class: 'dropdown-item', id: 'samples-imunofeno' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Biologia Molecular', internal_codes_path(field: :biomol), class: 'dropdown-item', id: 'samples-biomol' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'FISH', internal_codes_path(field: :fish), class: 'dropdown-item', id: 'samples-fish' %>
  </div>
</li>
