<%= render 'layouts/user_navbar' %>

<div class="card col-md-10 offset-md-1 mt-5 p-0">
  <div class="card-header">
    <h3 class = "text-center">
    	Editar mapa de trabaho
  	</h3>
  </div>
  <div class="card-body">
		<%= render 'form' %>
  </div>
</div>