<%= form_for(@hospital) do |f| %>
  <% if @hospital.errors.any? %>
    <div id="error_explanation">
      <h2 class = 'text-danger'>
        Os seguintes erros foram encontrados:
      </h2>
      <ul>
      <% @hospital.errors.full_messages.each do |message| %>
        <li class = 'text-danger'><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name , {class: 'form-control', required: true} %>
  </div>

  <button class = 'btn btn-outline-primary float-right'>
    Salvar
  </button>
<% end %>
