<%= render 'shared/navbar' %>

<div class="card mt-5 col-md-10 offset-md-1 p-0">
  <div class="card-header">
  	<h3 class = 'text-center'>
	    Novo hospital
	  </h3>
  </div>
  <div class="card-body">
		<%= render 'form' %>
  </div>
</div>
