<%= render 'layouts/admin_navbar' %>


<table>
  <thead>
    <th>
      <h3>
        Nome
      </h3>
    </th>
    <th>
    </th>
  </thead>
  <tbody>
    <%= @hospitals.each do |hospital| %>
      <tr>
        <td>
          <%= hospital.name %>
        </td>
        <td>
          <button>
            Editar
          </button>
          <button>
            Remover
          </button>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>