<%= render 'layouts/user_navbar' %>

<%= render 'layouts/stock_navbar' %>

<div class="card col-8 p-0 offset-2 mt-5 mb-5">
  <div class="card-header bg-info">
    <h4 class="text-center text-white">
      Cadastrar produto
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', stock_product: @stock_product %>
  </div>
</div>
