<%= render 'layouts/admin_navbar' %>

<table class="table table-bordered col-md-6 offset-md-3 mt-5 text-center">
  <thead class="bg-dark text-white">
    <th>Data de execução</th>
    <th></th>
  </thead>
  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td>
          <%= l backup.generated_at %>
        </td>
        <td>
          <% if backup.status %>
            <%= link_to 'Download', backup_download_path(backup), target: :_blank, class: 'btn btn-sm btn-outline-primary' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
