<%= render 'layouts/user_navbar' %>


<div class="card col-8 offset-2 mt-5 p-0 mb-5">
  <div class="card-header bg-secondary">
    <h4 class="text-white text-center">
      Editar Entrada de estoque
    </h4>
  </div>
  <div class="card-body">
    <%= render 'form', stock_entry: @stock_entry %>
  </div>
</div>
