<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Exame
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		<%= link_to 'Novo', new_offered_exam_path, {class: 'dropdown-item'} %>
		<div class="dropdown-divider"></div>
		<%= link_to 'Buscar', offered_exams_path, {class: 'dropdown-item'} %>
	</div>
</li>