<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="suggestion-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Funcionalidades
  </a>
  <div class="dropdown-menu" aria-labelledby="user-dropdown">
    <%= link_to 'Em desenvolvimento', suggestions_index_admin_path(kind: 'in_progress'), class: 'dropdown-item', id: 'suggestions-in-progress' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Na fila', suggestions_index_admin_path(kind: 'in_line'), class: 'dropdown-item', id: 'suggestions-in-line' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Concluídos', suggestions_index_admin_path(kind: 'complete'), {class: 'dropdown-item', id: 'suggestions-complete'} %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Todos', suggestions_index_admin_path, {class: 'dropdown-item', id: 'all-suggestions'} %>
  </div>
</li>
