<%= render 'layouts/user_navbar' %>

<h1 class="text-center mt-5 mb-5 border-bottom">
  Exames concluídos (<%= @concluded_exams_cont %>)
</h1>

<%= pie_chart({
  "Anatomia patológica" => Exam.complete_exams_by_field("Anatomia Patológica", @start_date, @end_date) ,
  "FISH" => Exam.complete_exams_by_field("FISH", @start_date, @end_date),
  "Biologia Molecular" => Exam.complete_exams_by_field("Biologia Molecular", @start_date, @end_date),
  "Citogenética" => Exam.complete_exams_by_field("Citogenética", @start_date, @end_date),
  "Imunofenotipagem" => Exam.complete_exams_by_field("Imunofenotipagem", @start_date, @end_date)
  }) %>

<hr>

<%= render 'date_search_form', locals: {search_route: concluded_exams_path} %>
