<%= render 'layouts/user_navbar' %>

<h1 class="text-center mt-5 mb-5 border-bottom">
  Exames concluídos (<span id="complete-exams-count"><%= @exams.size %></span>)
</h1>

<%= pie_chart(@relation) %>

<hr>

<%= render 'date_search_form', locals: {search_route: concluded_exams_path} %>
