<%= render 'layouts/user_navbar' %>

<%= render 'layouts/indicators_navbar' %>

<h1 class="text-center mt-5 mb-5 border-bottom">
  Exames em andamento (<span id="total"><%= @exams.size %></span>)
</h1>

<%= pie_chart @relation %>
