<div class="col-md-10 offset-md-1" hidden>
  <%= render 'attendances/tabs/attendance', locals: {attendance: @attendance} %>
</div>

<div hidden>
  <%= render 'attendances/tabs/exams' %>
</div>

<div hidden>
  <%= render 'attendances/tabs/samples' %>
</div>