<%= render 'layouts/user_navbar' %>

<%= form_for @attendance do |f| %>

  <%= render 'attendances/new_tabs/attendance', f: f %>

  <button class="btn btn-outline-success">
    Salvar
  </button>

<% end %>
