<%= render 'layouts/user_navbar' %>

<div class="col-md-10 offset-md-1 mt-4 border p-2">
  <div class="border-bottom pb-3">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" id = 'attendance_nav'>Atendimento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'exam_nav'>Exames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sample_nav'>Amostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'sub_sample_nav'>Subamostras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'work_map_nav'>Mapa de trabalho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = 'report_nav'>Laudo</a>
      </li>
    </ul>
  </div>
  <div class="mt-2 col-md-10 offset-md-1 mt-3">
  </div>
</div>